[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
black = "*"
yfinance = "*"
matplotlib = "*"
streamlit-option-menu = "*"
pyportfolioopt = "*"

[dev-packages]

[requires]
python_version = "3.10"
